.App {
    display: flex;
}

#editorContainer {
    width: 50%;
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--section-background);
}

#previewContainer {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    background-color: var(--section-background);
}

.headers {
    text-align: center;
    background-color: #303030;
    height: 80px;
    border: none;
}

#previewContainer > .headers {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    letter-spacing: 2px;
    color: var(--previewer-orange);
}

#editorContainer > .headers {
    padding-top: 30px;
    font-family: "Press Start 2P", cursive;
    color: var(--editor-green);
}

#divider {
    height: 100vh;
    width: 12px;
    background-image: repeating-linear-gradient(
        -45deg,
        var(--barberpole-1),
        var(--barberpole-1) 2rem,
        var(--barberpole-2) 2rem,
        var(--barberpole-2) 4rem
    );
    background-size: 1000% 1000%;
    animation: barberpole 120s linear infinite;
}

#divider:hover {
    cursor: pointer;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

#signatureContainer {
    height: 50px;
    width: 150px;
    position: absolute;
    background-color: var(--header-background);
    bottom: 25px;
    right: 25px;
    border-radius: 15px;
}

#signatureContainer:hover {
    border: 3px solid var(--editor-green);
}

#signatureContainer a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: "Press Start 2P", cursive;
    color: var(--editor-green);
    text-decoration: none;
}
