.App {
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* .editor {
    border: 3px solid slateblue;
    width: 600px;
    height: 600px;
} */

/* .previewer {
    border: 3px solid salmon;
    width: 600px;
    height: 600px;
} */
