.App {
    text-align: center;
    display: flex;
}

#divider {
    background-color: silver;
    height: 100vh;
    width: 10px;
}

#editorContainer {
    position: relative;
    border: 3px solid slateblue;
    width: 49%;
    min-width: 200px;
    height: 100vh;
    padding: 10px;
}

#previewContainer {
    border: 3px solid salmon;
    flex: 1 1 0%;
    min-width: 200px;
    height: 100vh;
    padding: 10px;
}

h1 {
    background-color: silver;
}
